.image-component {
    height: 70px;
    width: auto;
}
.title-component {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14pt;
  display: inline-block;
}
.component {
  /* display: flex; */
    margin: 20px 10px 0 10px;
    box-shadow: 0px 3px 0 -7px #0000003a;
    transition: box-shadow .3s;
    cursor: pointer;
}
.component:hover {
    box-shadow: 0px 5px 60px -7px #0000001f;
    transition: box-shadow .3s;
}
a {
    text-decoration: none;
    color: black;
}
.content {
  margin-left: 10px;
}
.category-component {
  color: #8B8B8B;
  font-size: 11pt;
}
.text-component {
  font-size: 10pt;
}
.container {
    margin-top: 50px;
    height: 100vh;
}