<div class="toggle-container noselect">
    <span class="toggle" [class.selected]="'draft,upload' === status" (click)="changeStatus('draft,upload')">All</span>
    <span class="toggle" [class.selected]="'upload' === status" (click)="changeStatus('upload')">Published</span>
    <span class="toggle" [class.selected]="'draft' === status" (click)="changeStatus('draft')">Draft</span>
</div>
<div class="container">
  <div infiniteScroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
    <div *ngFor='let item of postsList'>
      <a routerLink="/ads/{{item.type}}/{{item._id}}">
        <div class="row component noselect">
          <img class="image-component" src="{{item.image}}" (error)="photoError($event)">
          <span class="content">
            <span class="title-component">{{item.title}}<span class="status" *ngIf="item.status != 'upload'">{{item.status}}</span></span><br>
            <div class="category-component">{{item.category}} • {{item.date | date: 'dd.MM.yyyy'}}</div>
            <div class="text-component">{{(item.text.length>100)? (item.text | slice:0:100)+'..':(item.text)}}</div>
          </span>
        </div>
      </a>
    </div>
  </div>
</div>
<app-spinner *ngIf="showSpinner"></app-spinner>