
.news-photo {
    max-height: 80vh;
}
.content-title {
    text-transform: uppercase;
    margin-bottom: 5px;
    display: inline-block;
}
.content-category {
    color: #7a7a7a;
    font-size: 11pt;
    margin-bottom: 15px;
}
.content-date {
    color: #7a7a7a;
    font-size: 11pt;
    margin: 10px 0;
}
.content-text {
    font-size: 13pt;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .4px;
}
.tag {
    padding: 0 5px 10px 5px;
    height: 28px;
    color: #adadad;
    border: 1px solid #adadad;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 7px;
    margin-right: 7px;
    display: inline-block;
    transition: background-color, color .2s;
    background-color: transparent;
}
.tag:hover {
    background-color: #adadad;
    color: white;
    transition: all .2s;
}
.margin-right-down-10 {
    margin: 0 10px 10px 0;
}