<div *ngIf="!showSpinner" class="page">
  <h1 class="content-title">{{post.title}}<span class="status" *ngIf="post.status != 'upload'">{{post.status}}</span>
  </h1><br>
  <button *ngIf="isSameUser" class="margin-right-down-10 btn btn-primary" data-toggle="modal"
    data-target="#createPostModal"> Edit </button>
  <button *ngIf="isSameUser || http.isAdmin" class="margin-right-down-10 btn btn-danger" (click)="delete()"
    data-target="#createPostModal" routerLink="/ads/{{post.type}}">Delete</button>
  <div class="content-category">
    {{post.category}}
  </div>
  <img class="news-photo img-fluid" src="{{post.image}}" (error)="photoError($event)">
  <div class="content-date">
    {{post.date | date: 'dd.MM.yyyy'}} • {{post.author}}
  </div>
  <div class="content-text">
    <p>
      {{post.text}}
    </p>
  </div>
  <div *ngIf="post.keywords">
    <span *ngFor="let item of post.keywords">
      <a (click)="messageService.setKeyword(item)" routerLink="/ads/{{post.type}}"><span class="tag noselect">{{item}}</span></a>
    </span>

  </div>
</div>
<app-spinner *ngIf="showSpinner"></app-spinner>
<app-create-post modalType="Update" [prevPost]="post" [keywords]="keywords"></app-create-post>