<nav class="navbar navbar-dark bg-dark">
  <button class="navbar-toggler" style="border: 0;outline: 0;" type="button" data-toggle="collapse"
    data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand brand" style="font-size: 25px;" routerLink="/ads/news">SoftServeApp</a>
  <div class="form-inline ">
    <ng-container *ngIf="userEmail; else logTemp">
      <div class="dropdown">
        <a class="dropdown-toggle nav-item-size noselect" style="color: white" role="button" id="dropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{userEmail}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" routerLink="/userpage">My posts</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Log out</a>
        </div>
      </div>
    </ng-container>
    <ng-template #logTemp>
      <a class="nav-item-size noselect" style="color: white" routerLink="/authorization">Sign in / Register</a>
    </ng-template>

  </div>
</nav>
<div class="collapse navbar-dark navigation" id="collapsibleNavbar">
  <ul class="navbar-nav">
    <li class="nav-item nav-element-div">
      <a class="nav-link item-center" routerLink="/ads/news" routerLinkActive="active">News</a>
    </li>
    <li class="nav-item nav-element-div">
      <a class="nav-link item-center" routerLink="/ads/help" routerLinkActive="active">Help</a>
    </li>
    <li class="nav-item nav-element-div">
      <a class="nav-link item-center" routerLink="/ads/posts" routerLinkActive="active">Posts</a>
    </li>
  </ul>
</div>