.nav-item-size {
    font-size: 18px;
    cursor: pointer;
}
.nav-item-size:hover {
    text-decoration: underline;
}
.brand {
    position: absolute;
    width: 40%;
    top: 0;
    left: 0;
    margin: 0 30%;
    text-align: center;
}
@media only screen and (max-width : 700px) {
    .brand {
        display: none;
    }
}
.item-center {
    font-size: 25px;
}
.nav-element-div {
    margin: 0 20px;
}
.navigation {
    position: absolute;
    z-index: 3;
    width: 150px;
    margin-top: -40px;
    background-color: #343a40f3;
    padding: 40px 0 10px 10px;
}
@media only screen and (max-width : 400px) {
    .navigation {
        position: relative;
        width: 100%;
        text-align: center;
        background-color: #343a40;
    }
}
.navbar{
    z-index: 4;
}
.border-active {
    border-radius: 5px;
    border: 1px solid white;
}