.login-title {
    text-align: center;
    font-size: 40pt;
    margin-bottom: 15px;
}
.input-text {
    width: 100%;
    border: 1px solid #a9a9a9;
    margin-top: 4px;
    padding: 5px;
    border-radius: 5px;
    outline:none;
}
.btn-right {
    float: right;
}
.margin-top-25 {
    margin-top: 25px;
}
.label {
    margin-top: 25px;
}
.invalid-input {
    border: 1px solid red;
}
.invalid-line {
    color: red;
    display: block;
}
.margin-right-15 {
    margin-right: 15px;
}.page {
    width: 100%;
    padding: 50px 30vw;
}
@media only screen and (max-width: 900px) {
    .page {
        padding: 50px 5vw;
    }
}