<div class="page">
  <h1 class="login-title">{{title}}</h1>
  <form [formGroup]="loginGroup" novalidate>
    <div class="label">Email:</div>
    <input pattern="([a-z]+[0-9]*[\._-]?){3,30}[a-z0-9]+@([a-z0-9]+[\._-]?){1,30}\w+\.[a-z]{2,6}" placeholder="Enter email..."
      type="email" class="input-text" formControlName="email" [ngClass]="{'invalid-input': submitted && f.email.errors}"
      required>
    <div *ngIf="submitted && f.email.errors?.required" class="invalid-line">Email is required<br></div>
    <div *ngIf="submitted && f.email.errors?.pattern" class="invalid-line">Incorrect email</div>
    <div class="label">Password:</div>
    <input placeholder="Enter password..." type="password" class="input-text" formControlName="password"
      pattern="[\w\d_]{6,30}" [ngClass]="{'invalid-input': submitted && f.password.errors}" required minlength="6">
    <div *ngIf="submitted && f.password.errors?.required" class="invalid-line">Password is required<br></div>
    <div *ngIf="submitted && f.password.errors?.minlength" class="invalid-line">Password must be 6-30 characters
      long</div>
    <div *ngIf="submitted && f.password.errors?.pattern" class="invalid-line">Password must contain only A-Z, a-z,
      1-9, _ symbols</div>
    <button (click)="onSubmit(loginGroup.value)" type="submit"
        class="btn-right btn btn-primary margin-top-25">{{title}}</button>
      <button (click)="toggler()" class="btn-right btn btn-link margin-top-25 margin-right-15">{{toggleText}}</button>
    
    <div *ngIf="fireErr" class="invalid-line" style="margin-top: 80px">{{fireErr}}</div>
  </form>
</div>