.navigation-button {
    padding: 13px 25px;
    text-transform: capitalize;
    display: inline-block;
    transition: background-color .2s;
    cursor: pointer;
    background-color: #ebebeb;
}.navigation-button:hover {
    text-decoration: none;
    background-color: #e0e0e0;
    transition: background-color .2s;
}
.selected {
    background-color: #cccccc;
}
.categories-navbar {
    display: flex;
    background-color: #ebebeb;
}
.more-button {
    padding: 13px 15px;
}
#more-categories {
    z-index: 2;
    margin-top: 50px;
    position: absolute;
    background-color: #ebebeb;
}
@media only screen and (max-width: 1200px) {
    .categories-navbar {
        display: inline;
        text-align: center;
    }
    .navigation-button-category {
        width: 100%;
    }
    #more-categories {
        width: 100%;
        text-align: center;
        margin-top: -50px;
    }
    .filter-panel {
        width: 100%;
        text-align: center;
        background-color: white;
    }
    .more-button {
        position: absolute;
        background-color: transparent;
        right: 0;
        margin-top: -50px;
    }
}
.rounded-block {
    border-radius: 5px;
    display: inline-block;
    outline: none;
    height: 30px;
}
.add-button {
    background-color: #007bff;
    padding: 3px 15px;
    color: white;
    cursor: pointer;
    border: 0;
    vertical-align: top;
    transition: background-color 0.5s;
}
.searchbox {
    margin-right: 6px;
    border: solid 1px #c7c7c7;
    padding: 0 10px;
}
.add-button:hover {
    background-color: #0063ce;
    transition: background-color 0.5s;
}
.filter-panel {
    padding: 10px;
    z-index: 1;
    right: 0;
    position: absolute;
}.container-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 40pt;
}
.text-dropdown {
    margin-left: 12px;
}
@media only screen and (max-width: 650px) {
    .add-button, .searchbox {
        width: 100%;
        margin-bottom: 10px;
    }
    .container-title {
        margin-top: 20px;
    }
}
.container {
    height: 100vh;
}
.margin-top-60 {
    margin-top: 60px;
    margin-bottom: 40px;
}