<div class="categories-navbar noselect">
	<span *ngFor="let catItem of categories; index as i">
		<a *ngIf="i<categoriesAmount" class="navigation-button navigation-button-category noselect" [class.selected]="catItem === selectedCategory"
			(click)=setCategory(catItem)>
			{{categories[i]}}
		</a>
	</span>
	<span *ngIf="categories?.length > categoriesAmount" class="navigation-button more-button" data-toggle="collapse"
		data-target="#more-categories">. . .</span>
		<div id="more-categories" class="collapse panel-collapse noselect">
			<span *ngFor="let catItem of categories; index as i">
				<a *ngIf="i>=categoriesAmount" class="navigation-button navigation-button-category noselect"
					[class.selected]="catItem === selectedCategory" (click)=setCategory(catItem)>{{categories[i]}}
				</a>
			</span>
		</div>
	<span class="filter-panel search-panel">
		<input type="text" class="searchbox noselect rounded-block" placeholder="Author..." #authorInput
			(keyup)="onAuthor(authorInput.value)">
		<input type="text" class="searchbox noselect rounded-block" placeholder="Keywords..." #keywordsInput
			(keyup)="onKeywords(keywordsInput.value)">
		<button *ngIf="authorizedUser" class="add-button noselect rounded-block" data-toggle="modal"
			data-target="#createPostModal">+ New post</button>
	</span>
</div>
<h1 *ngIf="title; else elseBlock" class="container-title">{{title}}</h1>
<ng-template #elseBlock>
	<h1 class="container-title">Title</h1>
</ng-template>

<div *ngIf="http.isAdmin" class="toggle-container margin-top-60 noselect">
	<span class="toggle" [class.selected]="'draft,upload,deleted' === status"
		(click)="changeStatus('draft,upload,deleted')">All</span>
	<span class="toggle" [class.selected]="'upload' === status" (click)="changeStatus('upload')">Published</span>
	<span class="toggle" [class.selected]="'deleted' === status" (click)="changeStatus('deleted')">Deleted</span>
	<span class="toggle" [class.selected]="'draft' === status" (click)="changeStatus('draft')">Draft</span>
</div>
<div class="container">
	<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
		<div class="row">

			<div class="col-sm-6 content-block" *ngFor='let item of postsList'>
				<app-post-model [post]='item' [route]='title' (category)="setCategory($event)"
					(author)="onAuthor($event);authorInput.value=$event"></app-post-model>
			</div>
		</div>
	</div>
</div>
<app-spinner *ngIf="showSpinner"></app-spinner>
<app-create-post modalType="Create"></app-create-post>