<div class="modal fade" id="createPostModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelId"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 0;">
        <h5 class="modal-title" id="modalLabelId">{{modalType}}</h5>
        <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form [formGroup]="createPostGroup" (ngSubmit)="onSubmit(createPostGroup.value);" novalidate>
        <div class="container">
          <div class="row top-menu">
            <div class="col-lg-4 margin-bottom-15">
              Choose type:<span class="invalid-line"> *</span>
              <select class="dropdown-white input-text" formControlName="type" [ngClass]="{'invalid-input': submitted && f.type.errors}" required>
                <option [value]="null" [disabled]="true" [selected]="true" hidden>Select type...</option>
                <option *ngFor="let item of typeList" value="{{item}}">{{item}}</option>
              </select>
              <div *ngIf="submitted && f.type.errors" class="invalid-line">Type is required</div>
            </div>
            <div class="col-lg-4 margin-bottom-15">
              Choose category:<span class="invalid-line"> *</span>
              <select class="dropdown-white input-text" formControlName="category" [ngClass]="{'invalid-input': submitted && f.category.errors}" required>
                <option [value]="null" [disabled]="true" [selected]="true" hidden>Select category...</option>
                <option *ngFor="let item of temporaryList" value="{{item}}">{{item}}</option>
              </select>
              <div *ngIf="submitted && f.category.errors" class="invalid-line">Category is required<br>Choose type first</div>
            </div>
            <div class="col-lg-4 margin-bottom-15">
              Image:<span class="invalid-line"> *</span>
                <input placeholder="Enter image link..." [ngModel]="prevPost?.image" type="text" class="input-text padding-left-10"
                formControlName="image" pattern=".*\.(jpg|jpeg|png|bmp)" [ngClass]="{'invalid-input': submitted && f.image.errors}" required> 
              <div *ngIf="submitted && f.image.errors?.required" class="invalid-line">Image is required<br></div>
              <div *ngIf="submitted && f.image.errors?.pattern" class="invalid-line">Image must have .jpg/.jpeg/.png/.bmp format</div>
          </div>
            <div class="div-15 margin-bottom-15">
              Title:<span class="invalid-line"> *</span>
              <input placeholder="Enter title..." [ngModel]="prevPost?.title" type="text" class="input-text padding-left-10"
                formControlName="title" [ngClass]="{'invalid-input': submitted && f.title.errors}" required minlength="4">
            <div *ngIf="submitted && f.title.errors?.required" class="invalid-line">Title is required</div>
            <div *ngIf="submitted && f.title.errors?.minlength" class="invalid-line">Title must be at least 4 characters long</div>
          </div>
            <div class="div-15 margin-bottom-15">
              Text:<span class="invalid-line"> *</span>
              <textarea placeholder="Enter text..." class="input-text padding-left-10"
                formControlName="text" [ngClass]="{'invalid-input': submitted && f.text.errors}" required minlength="50" [ngModel]="prevPost?.text"></textarea>
                <div *ngIf="submitted && f.text.errors?.required" class="invalid-line">Text is required</div>
                <div *ngIf="submitted && f.text.errors?.minlength" class="invalid-line">Text must be at least 50 characters long</div>
            </div>
            <div class="div-15 margin-bottom-15">
              Keywords:
              <input placeholder="Enter keywords(separate with comas)..." [ngModel]="keywords" type="text" class="input-text padding-left-10"
                formControlName="keywords" >
            </div>
          </div>
        </div>
        <div class="modal-footer" style="border-top: 0;">
          <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
          <button type="button" (click)="onSubmit(createPostGroup.value, 'draft')" class="btn btn-secondary">Draft</button>
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>