.dropdown-white {
    transition: border-radius .2s;
}
.dropdown-white:focus-within {
    border-radius: 5px 5px 0 0;
    transition: border-radius .2s; 
}
.top-menu {
    margin-right: -7px;
    margin-left: -7px;
}
.div-15 {
    padding: 0 15px;
    width: 100%;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.input-text {
    width: 100%;
    border: 1px solid #a9a9a9;
    margin-top: 4px;
    padding: 5px;
    border-radius: 5px;
    outline:none;
}
textarea {
    height: 200px;
}
.padding-left-10 {
    padding-left: 10px;
}
.close {
    outline: none;
}
.invalid-input {
    border: 1px solid red;
}
.invalid-line {
    color: red;
}