/* You can add global styles to this file, and also import other style files */

@media screen and (max-width: 560px) {
    .container-title {
        margin-top: 80px;
    }
}
.routing:hover {
    cursor: pointer;
    text-decoration: underline;
}
.content-block {
    text-align: center;
    margin-bottom: 70px;
}html{
    overflow-y: overlay;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: #0000002a;
}
body::-webkit-scrollbar:hover {
    background-color: #00000015;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
* {
    word-break: break-all;
}
.status {
    background-color: grey;
    border-radius: 5px;
    padding: 1px 3px;
    margin-left: 5px;
    color: white;
    position: relative;
    float:right;
    font-size: 12px;
    font-weight: 300;
}.page {
    width: 100%;
    padding: 50px 25vw;
}
@media only screen and (max-width: 900px) {
    .page {
        padding: 50px 5vw;
    }
}
.toggle-container {
    text-align: center;
    margin-top: 20px;
}
.toggle {
    padding: 10px 20px;
    background-color: #ebebeb;
    transition: background-color .2s;
    cursor: pointer;
}
.toggle:hover {
    background-color: #00000023;
    transition: background-color .2s;
}
.selected {
    background-color: #cccccc;
}
.toggle:last-child {
    border-radius: 0 12px 12px 0;
}
.toggle:first-child {
    border-radius: 12px 0 0 12px;
}
@media screen and (max-width: 400px) {
    .toggle {
        display: block;
        margin: 0 25px;
    }
    .toggle:first-child {
        border-radius: 12px 12px 0 0;
    }
    .toggle:last-child {
        border-radius: 0 0 12px 12px;
    }
}