.news-photo {
    width: 100%;
    margin-left: 0;
    image-rendering: pixelated;
}
.image-container {
    border: 0;
    height: 350px;
    overflow: hidden;
    cursor: pointer;
}
.image-container .news-photo {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.image-container:hover .news-photo {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.post:hover {
    box-shadow: 0px 5px 60px -7px #0000001f;
    transition: box-shadow 0.3s;
}
.content-category {
    margin-top: 20px;
    font-size: 10pt;
    text-transform: capitalize;
}
.content-title {
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 5px;
    color: black;
    transition: color .2s;
    margin: 0 10px;
}
a {
    text-decoration: none;
}
.content-title:hover {
    color: #7e7e7e;
    transition: color .2s;
}
.content-date {
    color: #8b8b8b;
    font-size: 11pt;
}

.content-text {
    text-align: left;
    font-size: 10pt;
    line-height: 1.7em;
    margin: 0 10px;
}
.content-separator {
    height: 1px;
    display: inline-block;
    margin: 15px 0;
    width: 50px;
    background-color: #000;
}
.content-button {
    color: #8b8b8b;
    cursor: pointer;
    font-size: 14pt;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.content-button:hover {
    text-decoration: underline;
}
.post {
    padding-bottom: 10px;
    box-shadow: 0px 3px 0 -7px #0000003a;
    transition: box-shadow 0.3s;
}
@media screen and (max-width: 993px) {
    .image-container {
        height: 220px;
    }
}
@media screen and (max-width: 350px) {
    .image-container {
        height: 140px;
    }
}