<div class="post">
	<a routerLink="/ads/{{route}}/{{post._id}}">
		<div class="image-container">
			<img class="news-photo noselect" src="{{post.image}}" (error)="photoError($event)">
		</div>
	</a>
	<div class="content-category noselect routing" (click)="setCategory(post.category)">
		{{post.category}}
	</div>
	<a routerLink="/ads/{{route}}/{{post._id}}">
		<h4 class="content-title noselect">{{post.title}}<span class="status" *ngIf="post.status != 'upload'">{{post.status}}</span></h4><br>
	</a>
	<span class="content-date">
		{{post.date | date: 'dd.MM.yyyy'}}
	</span>
	<span class="content-date">
		•
	</span>
	<span class="content-date routing" (click)="setAuthor(post.author)">
		{{post.author}}
	</span><br>
	<div class="content-separator"></div>
	<div class="content-text">
		<p>
			{{(post.text.length>300)? (post.text | slice:0:400)+'..':(post.text)}}
		</p>
	</div>
	<a routerLink="/ads/{{route}}/{{post._id}}">
		<div class="content-button noselect">
			read more
		</div>
	</a>
</div>